{% extends "admin/change_form.html" %}

{% block content %}
{% if not add and not is_popup and not original.is_static %}
	<a href="{% url "admin:matshare_course_clone" pk=original.pk %}">{% trans "Clone this course" %}</a>
{% endif %}
{{ block.super }}
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
{% if not add and original.super_courses.all %}
	<h2>{% trans "Super-Courses" %}</h2>
	<p>
		{% blocktrans trimmed %}This course is part of the following courses.{% endblocktrans %}
	</p>
	<ul>
		{% for course in original.super_courses.all %}
			<li>
				<a href="{% url "admin:matshare_course_change" object_id=course.pk %}">{{ course }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}
