{% extends "./base.html" %}

{% block content %}
<p>
	{% blocktrans trimmed %}
		Someone has requested a password reset for your account. If it wasn't you, just ignore this mail.
	{% endblocktrans %}
</p>

<p>
	<a href="{{ MATSHARE_ROOT_URL }}{% url "password_reset_confirm" pk=user.pk token=user.password_reset_token %}">{% trans "Reset password" %}</a>
</p>

<p>
	{% blocktrans trimmed with expiration_date=user.password_reset_expiration_date %}
		The link is valid until {{ expiration_date }}.
	{% endblocktrans %}
</p>
{% endblock %}
